extends layout

block b1
  .post-detail-wrapper
    .post-detail-title-wrapper
      h2.post-detail-title.mdc-typography--headline5= blog.title
      h3.post-detail-subtitle.mdc-typography--subtitle1
        a.post-detail-subtitle.mdc-typography--subtitle1(href="/users/" + blog.user.username, style="font-weight: bold")= blog.user.displayName || blog.user.username
        |  -  
        span= blog.time
        |  -  
        span= category.name
      .mdc-chip-set
        .mdc-chip
          .mdc-chip__text Tag 1
        .mdc-chip
          .mdc-chip__text Tag 2
        .mdc-chip
          .mdc-chip__text Tag 3
    if (currentUser && currentUser._id.toString() === blog.user._id.toString())
      .menu-wrapper
        button.mdc-icon-button.mdc-button--unelevated.material-icons.post-detail-action#post-detail-action more_vert
        .mdc-menu-surface--anchor
          .mdc-menu.mdc-menu-surface.cs-menu-chuc-nang
            ul.mdc-list(role="menu")
              a.mdc-list-item(role="menuitem", href="/blog/edit/" + blog._id)
                span.mdc-list-item__text Edit
              a.mdc-list-item(role="menuitem", onClick="openAlert(event)", data-click='delete', data-post-id=blog._id)
                span.mdc-list-item__text Delete

  .container.post-detail-content
    .markdown-body!= blog.content

  if (currentUser)
    .mdc-dialog.non-search(role="alertdialog")
      .mdc-dialog__container
        .mdc-dialog__surface
          h2.mdc-dialog__title Xác nhận
          .mdc-dialog__content Bạn có chắc chắn?
          footer.mdc-dialog__actions
            button.mdc-button.mdc-dialog__button(data-mdc-dialog-action="close") Cancel
            form(action="", method="post", id="dialog-form")
              button.mdc-button.mdc-dialog__button(type="submit", data-mdc-dialog-action="accept") OK
      .mdc-dialog__scrim

  script(src="/javascript/postDetail/postDetail.js")