extends layout

block b1
  if (query) 
    h3 Các kết quả cho từ khoá "#{query}"
  
  if (!msg.length)
    span Không tìm thấy kết quả nào
  each blog in msg
    .card.mb-3
      .card-body.pb-1
        a.card-title.font-weight-bold(href=`/blog/${blog.titleWithoutAccentAndSpace}/${blog._id}`)
          = `${blog.title} - ${blog.user.displayName || blog.user.username}`
          if (blog.isPin)
            i.material-icons.pinTag local_offer
        .dropdown
          i.more_vert.material-icons(data-toggle="dropdown") more_vert
          .dropdown-menu.dropdown-menu-right
            a.dropdown-item(href=href=`/blog/${blog.titleWithoutAccentAndSpace}/${blog._id}`) View
            if (currentUser && currentUser._id.toString() === blog.user._id.toString())
              a.dropdown-item(href="/blog/edit/" + blog._id) Edit
              form(action="/blog/delete/" + blog._id, method="post")
                input.dropdown-item(type="submit", value="Delete", onClick="return confirm('Có chắc chắn xoá?')")
              if (!blog.isPin)
                form(action="/blog/pin/" + blog._id, method="post")
                  input.dropdown-item(type="submit", value="Pin")
              else
                form(action="/blog/unpin/" + blog._id, method="post")
                  input.dropdown-item(type="submit", value="Unpin")

        h6.card-subtitle.mb-2.text-muted= blog.time
        .card-text.markdown-body.mb-3!= blog.previewConent

  if (page)
    .container-flud
      nav.d-flex.justify-content-center.align-items-center
        ul.pagination
          if (page.prev !== -1)
            li.page-item
              a.page-link(href="/blog?page=" + page.prev) Trước
          else 
            li.page-item.disabled
              span.page-link Trước
          li.page-item.active
            a.page-link(href="/blog?page=" + page.now)= page.now
          if (page.next !== -1)
            li.page-item
              a.page-link(href="/blog?page=" + page.next) Sau
          else 
            li.page-item.disabled
              span.page-link Sau