extends layout

block b1
  style.
    footer.main-footer {
      display: none;
    }
    .app-fab--absolute {
      display: none !important;
    }
  form.cs-post-create-wrapper(action="/blog/edit/" + blog._id, method="POST")
    .cs-post-create-preview
      .cs-auth-title.mdc-typography--button Xem trước
      .cs-preview.markdown-body#preview

    .cs-post-create-main
      .mdc-typography--button Nội dung bài đăng
      .mdc-text-field.mdc-text-field--textarea
        textarea#content.mdc-text-field__input(required="true", name="content")= blog.content
        .mdc-notched-outline
          .mdc-notched-outline__leading
          .mdc-notched-outline__notch
            label.mdc-floating-label Content 
          .mdc-notched-outline__trailing

    .cs-post-create-conf
      .cs-post-conf-wrapper
        .mdc-typography--button Các thông tin
        .cs-image-preview-wrapper
          .cs-image-preview(style="background-image: url(" + blog.imgUrl + ")")
          .cs-image-preview-text-wrapper
            .mdc-typography--overline Image Preview
        .mdc-text-field.mdc-text-field--outlined
          input.mdc-text-field__input(type="text", required="true", name="title", maxlength="200", value=blog.title)
          .mdc-notched-outline
            .mdc-notched-outline__leading
            .mdc-notched-outline__notch
              label.mdc-floating-label Title 
            .mdc-notched-outline__trailing
        
        
        .mdc-text-field.mdc-text-field--outlined
          input.mdc-text-field__input(type="text", name="imgUrl", value=blog.imgUrl)
          .mdc-notched-outline
            .mdc-notched-outline__leading
            .mdc-notched-outline__notch
              label.mdc-floating-label Image preview 
            .mdc-notched-outline__trailing

        #cs-select-category-input.mdc-select.cs-category-selecte.mdc-select--outlined(style="width: 100%; margin-bottom: 0.5rem;")
          input(type="hidden", name="category", value=blog.category ? blog.category._id : '')
          i.mdc-select__dropdown-icon
          .mdc-select__selected-text
          #cs-select-category.mdc-select__menu.mdc-menu.mdc-menu-surface(style="z-index: 500;")
            ul.mdc-list
              //- li.mdc-list-item.mdc-list-item--selected(data-value="")
              each category in categories
                li.mdc-list-item(data-value=category._id)= category.name
          .mdc-notched-outline
            .mdc-notched-outline__leading
            .mdc-notched-outline__notch
              label.mdc-floating-label Chọn một danh mục
            .mdc-notched-outline__trailing

        //- tag input
        .mdc-text-field.mdc-text-field--outlined
          input#my-text-field.mdc-text-field__input(type="text", name="tags-input")
          .mdc-notched-outline
            .mdc-notched-outline__leading
            .mdc-notched-outline__notch
              label.mdc-floating-label Enter to add new tag
            .mdc-notched-outline__trailing
        .mdc-chip-set.mdc-chip-set--input.cs-tags-input(style="height: 70px; overflow: auto")
        input(type="hidden", name="tags", value=blog.tag.join(';'))

      .cs-post-conf-action
        button.mdc-button.mdc-button--unelevated(type="submit") Đăng
        label.mdc-typography--overline(for="switch-public", style="margin: 0 0.5rem", title="Để chỉnh sửa các bài viết không công khai thành công khai hãy truy cập private post từ menu cá nhân") Public
        .mdc-switch.mdc-switch--checked
          .mdc-switch__track
          .mdc-switch__thumb-underlay
            .mdc-switch__thumb
              input#switch-public.mdc-switch__native-control(type="checkbox", name="isPublic", role="switch" checked)
              input(type="hidden", name="isPublicGetted", value=blog.isPublic)
        .spacer

  script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it-emoji/1.4.0/markdown-it-emoji.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it-emoji/1.4.0/markdown-it-emoji-light.min.js")
  script(src="/javascript/dist/postcreate/postcreate.js")
    