mixin renderPost(blogs)
  each blog in blogs
    .mdc-card.cs-card.mdc-elevation--z3
      .mdc-card__primary-action
        if (blog.imgUrl)
          .mdc-card__media.cs-card__media_size(style='background-image: url(' + blog.imgUrl + ');')
            .cs-card-header.cs-has-bg
              h2.cs-card__title.mdc-typography--headline6= blog.title
              h3.cs-card__subtitle.mdc-typography--subtitle2.cs-card-user= blog.user.displayName || blog.user.username
              h3.cs-card__subtitle.mdc-typography--subtitle2= blog.time
              .mdc-chip-set(style="margin-left: 0.3rem;")
                each tag in blog.tag
                  .mdc-chip
                    .mdc-chip__text= tag
        else
          .cs-card-header.cs-no-bg
            h2.cs-card__title.mdc-typography--headline6= blog.title
            h3.cs-card__subtitle.mdc-typography--subtitle2.cs-card-user= blog.user.displayName || blog.user.username
            h3.cs-card__subtitle.mdc-typography--subtitle2= blog.time
            .mdc-chip-set(style="margin-left: 0.3rem;")
              each tag in blog.tag
                .mdc-chip
                  .mdc-chip__text= tag
        .cs-card__content.mdc-card__actions.mdc-typography--body2= blog.previewConent
      .mdc-card__actions(style="overflow-x: auto;")
        .mdc-card__action-buttons
          a.mdc-button.mdc-card__action.mdc-card__action--button(href=`/blog/${blog.titleWithoutAccentAndSpace}/${blog._id}`) Read more
        .mdc-card__action-icons
          if (currentUser && currentUser._id.toString() === blog.user._id.toString())
            a.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon(href="/blog/edit/" + blog._id) edit
            button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon(onClick="openAlert(event)", data-click='delete', data-post-id=blog._id) delete
          a.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon(href='/users/' + blog.user.username, title="Owner") face
          a.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon(href='/category/' + (blog.category ? blog.category.nameId : 'uncategorized'), title=(blog.category ? blog.category.name : 'Uncategorized')) category
          if (currentUser && currentUser._id.toString() === blog.user._id.toString())
            if (blog.isPin)
              if (currentUser.role === 'admin')
                button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag-active(onClick="openAlert(event)", data-click='unpin', data-post-id=blog._id, title="Pinned") local_offer
              else 
                button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag-active local_offer
            else
              if (currentUser.role === 'admin')
                form(action="/blog/pin/" + blog._id, method="post")
                  button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag(type="submit") local_offer
          else 
            if (blog.isPin)
              button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag-active local_offer