mixin renderPost(blogs)
  each blog in blogs
    .mdc-card.cs-card.mdc-elevation--z3
      .mdc-card__primary-action
        .cs-card-header
          h2.cs-card__title.mdc-typography--headline6= blog.title
          h3.cs-card__subtitle.mdc-typography--subtitle2.cs-card-user= blog.user.displayName || blog.user.username
          h3.cs-card__subtitle.mdc-typography--subtitle2= blog.time
        .cs-card__content.mdc-card__actions.mdc-typography--body2= blog.previewConent
      .mdc-card__actions
        .mdc-card__action-buttons
          a.mdc-button.mdc-card__action.mdc-card__action--button(href=`/blog/${blog.titleWithoutAccentAndSpace}/${blog._id}`) Read more
          if (currentUser && currentUser._id.toString() === blog.user._id.toString())
            a.mdc-button.mdc-card__action.mdc-card__action--button(href="/blog/edit/" + blog._id) Edit
            button.mdc-button.mdc-card__action.mdc-card__action--button(onClick="openAlert(event)", data-click='delete', data-post-id=blog._id) Delete
        .mdc-card__action-icons
          a.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon(href='/users/' + blog.user.username) face
          if (currentUser && currentUser._id.toString() === blog.user._id.toString())
            if (blog.isPin)
              if (currentUser._id.toString() === "5c8bc203d469c2001758986a")
                button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag-active(onClick="openAlert(event)", data-click='unpin', data-post-id=blog._id) local_offer
              else 
                button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag-active local_offer
            else
              if (currentUser._id.toString() === "5c8bc203d469c2001758986a")
                form(action="/blog/pin/" + blog._id, method="post")
                  button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag(type="submit") local_offer
          else 
            if (blog.isPin)
              button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag-active local_offer