mixin renderPost(blogs)
  each blog in blogs
    .mdc-card.cs-card.mdc-elevation--z3
      .mdc-card__primary-action
        if (blog.imgUrl)
          .mdc-card__media.cs-card__media_size(style='background-image: url(' + blog.imgUrl + ');')
            .cs-card-header.cs-has-bg
              h2.cs-card__title.mdc-typography--headline6= blog.title
              h3.cs-card__subtitle.mdc-typography--subtitle2.cs-card-user= blog.user.displayName || blog.user.username
              h3.cs-card__subtitle.mdc-typography--subtitle2= blog.time
              .mdc-chip-set(style="margin-left: 0.3rem;")
                each tag in blog.tag
                  .mdc-chip
                    .mdc-chip__text= tag
        else
          .cs-card-header.cs-no-bg
            h2.cs-card__title.mdc-typography--headline6= blog.title
            h3.cs-card__subtitle.mdc-typography--subtitle2.cs-card-user= blog.user.displayName || blog.user.username
            h3.cs-card__subtitle.mdc-typography--subtitle2= blog.time
            .mdc-chip-set(style="margin-left: 0.3rem;")
              each tag in blog.tag
                .mdc-chip
                  .mdc-chip__text= tag
        .cs-card__content.mdc-card__actions.mdc-typography--body2= blog.previewConent
      .mdc-card__actions
        .mdc-card__action-buttons
          button.mdc-button.mdc-card__action.mdc-card__action--button
            i.material-icons.mdc-button__icon thumb_up
            .mdc-button__label 0
          a.mdc-button.mdc-card__action.mdc-card__action--button(href=`/blog/${blog.titleWithoutAccentAndSpace}/${blog._id}`) More
        .mdc-card__action-icons
          .menu-wrapper
            button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.btn-action(onClick="openMenu(event)", data-click=blog._id) more_vert
            .mdc-menu-surface--anchor
              .mdc-menu.mdc-menu-surface.cs-menu-post(data-id=blog._id)
                ul.mdc-list(role="menu")
                  if (currentUser && currentUser._id.toString() === blog.user._id.toString())
                    a.mdc-list-item(role="menuitem", href="/blog/edit/" + blog._id)
                      .mdc-list-item__graphic.material-icons edit
                      span.mdc-list-item__text Edit
                    a.mdc-list-item(role="menuitem", onClick="openAlert(event)", data-click='delete', data-post-id=blog._id)
                      .mdc-list-item__graphic.material-icons delete
                      span.mdc-list-item__text Delete
                  a.mdc-list-item(role="menuitem", href='/users/' + blog.user.username)
                    .mdc-list-item__graphic.material-icons face
                    span.mdc-list-item__text= blog.user.displayName || blog.user.username
                  a.mdc-list-item(role="menuitem", href='/category/' + (blog.category ? blog.category.nameId : 'uncategorized'))
                    .mdc-list-item__graphic.material-icons category
                    span.mdc-list-item__text= blog.category ? blog.category.name : 'Uncategorized'
          if (currentUser && currentUser._id.toString() === blog.user._id.toString())
            if (blog.isPin)
              if (currentUser.role === 'admin')
                button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag-active(onClick="openAlert(event)", data-click='unpin', data-post-id=blog._id, title="Pinned") local_offer
              else 
                button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag-active local_offer
            else
              if (currentUser.role === 'admin')
                form(action="/blog/pin/" + blog._id, method="post")
                  button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag(type="submit") local_offer
          else 
            if (blog.isPin)
              button.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon.pinTag-active local_offer